## **Topics**
<br>

- ### .iloc
- ### .loc
- ### indexing slicing and Skipping
- ### fancy indexing
- ### Differences iloc and loc
- ### boolean indexing
- ### selecting specfic columns
- ### Apply Boolean indexing on fancy indexing

<br>

## iloc and loc are two methods used in Pandas, a popular Python library for data manipulation and analysis.
<br>

# iloc
<br>

- ### iloc is short for "integer location" and is used to select data based on its numerical index. It allows you to select rows and columns of data from a Pandas DataFrame or Series using integer indices, similar to how you would index a NumPy array. For example, you can use iloc to select the first row of a DataFrame with df.iloc[0].
<br>

# loc
<br>

- ### loc, on the other hand, is short for "label location" and is used to select data based on its label or index name. It allows you to select rows and columns of data from a Pandas DataFrame or Series using label-based indexing. For example, you can use loc to select all rows where the index label is equal to "A" with df.loc["A"].

In [1]:
import pandas as pd

In [13]:
student_dict = {
    'name':['ali','usman','hassan','sohail','moin','bilal'],
    'iq':[100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package':[10,7,14,2,0,0]
}

std = pd.DataFrame(student_dict)
# students.set_index('name',inplace=True)
std

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2
4    moin    0      0        0
5   bilal    0      0        0

In [14]:
std.iloc[0] # select 0 row

name       ali
iq         100
marks       80
package     10
Name: 0, dtype: object

In [15]:
std.iloc[1] # select 1 row

name       usman
iq            90
marks         70
package        7
Name: 1, dtype: object

In [17]:
type(std.iloc[1]) # check type if we select single row

pandas.core.series.Series

In [16]:
std.iloc[0:3] # slicing 0 to 3

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14

In [19]:
type(std.iloc[0:3]) # check type if we select multiple rows

pandas.core.frame.DataFrame

In [22]:
std.iloc[1:5:2] # skip every 2nd rows

     name  iq  marks  package
1   usman  90     70        7
3  sohail  80     50        2

In [23]:
std.iloc[1:5:3] # skip every 3rd rows

    name  iq  marks  package
1  usman  90     70        7
4   moin   0      0        0

## Fancy Indexing

In [24]:
std

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2
4    moin    0      0        0
5   bilal    0      0        0

In [25]:
# SELECT 0,1,3,2,5 same order

std.iloc[[0,1,3,2,5]]

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
3  sohail   80     50        2
2  hassan  120    100       14
5   bilal    0      0        0

# loc

In [29]:
st_data = std.copy()

st_data.set_index('name',inplace=True)

In [30]:
st_data

         iq  marks  package
name
ali     100     80       10
usman    90     70        7
hassan  120    100       14
sohail   80     50        2
moin      0      0        0
bilal     0      0        0

In [32]:
# Select ali row
st_data.loc["ali"]

iq         100
marks       80
package     10
Name: ali, dtype: int64

In [35]:
# Select ali to bilal rows
st_data.loc["ali":"bilal"]

         iq  marks  package
name
ali     100     80       10
usman    90     70        7
hassan  120    100       14
sohail   80     50        2
moin      0      0        0
bilal     0      0        0

In [37]:
# Select ali to bilal rows and skip every 2nd row
st_data.loc["ali":"bilal":2]

         iq  marks  package
name
ali     100     80       10
hassan  120    100       14
moin      0      0        0

- ### The main difference between iloc and loc is that iloc uses integer-based indexing while loc uses label-based indexing. 
<br>

- ### Therefore, if your DataFrame or Series has integer-based index labels, you can use either iloc or loc to select data. 
<br>

- ### However, if your DataFrame or Series has label-based index labels, you need to use loc to select data based on the label.

## Boolean Indexing

In [38]:
std

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2
4    moin    0      0        0
5   bilal    0      0        0

In [40]:
# SELECT DATA WHOSE MARKS GREATER AND EQUAL TO 50

mask = std["marks"] >= 50
mask

0     True
1     True
2     True
3     True
4    False
5    False
Name: marks, dtype: bool

In [41]:
std[mask]

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2

## select the specfic columns

In [42]:
std

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2
4    moin    0      0        0
5   bilal    0      0        0

In [49]:
# select name iq and marks with iloc

std.iloc[0:5,0:3]

     name   iq  marks
0     ali  100     80
1   usman   90     70
2  hassan  120    100
3  sohail   80     50
4    moin    0      0

In [61]:
# select name iq and marks with loc

std.loc[0:5,"name":"marks"]

     name   iq  marks
0     ali  100     80
1   usman   90     70
2  hassan  120    100
3  sohail   80     50
4    moin    0      0
5   bilal    0      0

## Select Specfic column with Fancy indexing

In [62]:
std

     name   iq  marks  package
0     ali  100     80       10
1   usman   90     70        7
2  hassan  120    100       14
3  sohail   80     50        2
4    moin    0      0        0
5   bilal    0      0        0

In [63]:
# select name and marks

std[["name","marks"]]

     name  marks
0     ali     80
1   usman     70
2  hassan    100
3  sohail     50
4    moin      0
5   bilal      0

### Boolean Indexing on Fancy Indexing

In [70]:
std[["name","marks"]][std["marks"]>=50]

     name  marks
0     ali     80
1   usman     70
2  hassan    100
3  sohail     50