<h1 style="text-align:center; color:#005bbd; font-size:50px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">Cardinality of Relationships</h1>

<h2 style="text-align:justify; color:black; font-size:30px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;"><p>Cardinality in database relationships refers to the number of occurrences of an
entity in a relationship with another entity.<br>Cardinality defines the number of
instances of one entity that can be associated with a single instance of the related
entity.</p></h2>

<h2 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;"><p>Entity Example</p>

<p  style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">When you have data about students and you organize that data into a table, <br>that table is referred to as an "Entity."<br><br>An entity, in the context of a database, represents a real-world object or concept</p>

<!-- Students Table in HTML -->
<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Roll No</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Name</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Branch</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Email</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">John Doe</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">CSE</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">john.doe@example.com</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Jane Smith</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">EEE</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">jane.smith@example.com</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Alex Johnson</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">ME</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">alex.johnson@example.com</td>
    </tr>
</table>

For example, <br><br>let's say you have information about students, including their Roll No, Name, Branch, and Email. <br>If you organize this information into a table, each row in the table represents a student, <br>and each column represents a specific attribute, such as Roll No, Name, Branch, and Email.

</h2>

<h2 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;"><p>Relationship Example</p>

<p  style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">There are the 3 Types of Relationship:<ul>One to One</ul><ul>One to Many</ul><ul>Many to Many</ul>

<h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">One To One Relations Example</h3>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">PersonID</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Name</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Age</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Address</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">John Doe</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">25</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">123 Main St, City</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Jane Smith</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">30</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">456 Oak Ave, Town</td>
    </tr>
</table>
<br>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">PassportID</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">PassportNumber</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">101</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">AB123456</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">102</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">CD789012</td>
    </tr>
</table>

<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Let's understand a one-to-one relationship with a simple example involving a "Person" and their associated "Passport."</p>

<ul style="text-align:justify; color:black; font-size:18px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Each person has only one passport, and each passport belongs to only one person.<br>This is a one-to-one relationship.<br><br>
The "PersonID" column in the "Persons (1)" table is related to the "PassportID (10+Person_id(1))" column in the "Passports" table, creating a connection between them.<br><br>
In simpler terms, it means each person has a unique passport, and each passport is uniquely linked to a specific person.
</ul>
<img style="display: block;margin-left: auto;margin-right: auto;width: 300px; " src="./sql_images/one_to_one.png">
<br>
<h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">So we have one to one Relation data <ul>PersonID,Name,Age,Address</ul><ul>PassportID,PassportNumber</ul>if the relation is one to one than we add all info in 1 Table We dont need for extra table </h3>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">PersonID</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Name</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Age</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Address</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">PassportNumber</th>

</tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">John Doe</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">25</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">123 Main St, City</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">AB123456</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Jane Smith</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">30</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">456 Oak Ave, Town</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">CD789012</td>
    </tr>
</table>
<br>

</h2>

<h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">One To Many Relations Example</h3>

<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Branches Table<br><br>This table stores information about each branch.<br>Each branch is uniquely identified by the branch_id.</p>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">branch_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">branch</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">hod</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">CSE</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Dr. A. Sharma</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">EEE</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Prof. B. Singh</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">ME</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Dr. C. Verma</td>
    </tr>
</table>
<br>
<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Student Table<br><br>This table stores information about each student. <br>Each student is uniquely identified by the student_id. <br>The branch_id column indicates which branch each student belongs to.</p>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">student_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">student_name</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">branch_id</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">101</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">John Doe</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">102</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Jane Smith</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">103</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Alex Johnson</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
    </tr>
</table>
<br>
<p style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Each row represents a unique student.<br><br>The branch_id column in the "Students" table is connected to the branch_id column in the "Branches" table, indicating which branch each student is associated with.<br><br><ul style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">There is a one-to-many relationship between the "Branches" table and the "Students" table because one branch can have multiple students.<br><br>The branch_id column in the "Branches" table is connected to the branch_id column in the "Students" table, indicating the branch to which each student belongs.</ul><img style="display: block;margin-left: auto;margin-right: auto;width: 300px; " src="./sql_images/one_to_many.png">
<br><br><h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">In one to Many Relation we need Minimum 2 Table Required</h3></p>

<br><br>

<h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Many To Many Relations Example</h3>

<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Student Table</p>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">student_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">student_name</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">John Doe</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Jane Smith</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Alex Johnson</td>
    </tr>
</table>

<br>

<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Course Table</p>

<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">course_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">course</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">payment</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">101</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Math</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">50 Doller</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">102</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">English</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">40 Doller</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">103</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">Science</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">60 Doller</td>
    </tr>
</table>
<br>
<p style="text-align:justify; color:black; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Enrollments Table</p>


<table style="width:100%; border-collapse:collapse; margin:20px; font-size:15px;">
    <tr>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">student_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">course_id</th>
        <th style="border:1px solid black; padding:10px; text-align:left; text-align:center;">enroll_date</th>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">101</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2023-01-15</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">1</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">102</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2023-01-20</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">103</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2023-02-01</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">101</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2023-02-05</td>
    </tr>
    <tr>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">3</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">103</td>
        <td style="border:1px solid black; padding:10px; text-align:left; text-align:center;">2023-02-10</td>
    </tr>
</table>

<br><p style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">Students Table:<br>Contains information about each student.<br><br>
    Courses Table:<br>Contains information about each course, including the payment.<br><br>
    Enrollments Table:<br>Connects students to courses.<br> Each row in this table represents a student enrolling in a specific course on a particular date.Each row represents a unique student.</p>
<br>

<div style="text-align:left; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">
<ul>John Doe (student_id 1) has enrolled in Math and English.</ul>
<ul>Jane Smith (student_id 2) has enrolled in Science.</ul>
<ul>Alex Johnson (student_id 3) has enrolled in Math and Science.</ul><br><br>
<p>In simple terms, students can take multiple courses,<br> and each course can have multiple students enrolled. <br> <br> The "Enrollments" table acts as a bridge, showing which student is enrolled in which course. <br> <br> This illustrates the many-to-many relationship between students and courses.</p><img style="display: block;margin-left: auto;margin-right: auto;width: 300px; " src="./sql_images/many_to_many.png">
</div>
<br><br><h3 style="text-align:justify; color:black; font-size:25px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; line-height:150%;">In Many to Many Relation we need Minimum 3 Table Required</h3></p>